{% extends "layout.html" %}

{% block content %}
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h1>{{ entry.entry_title }}</h1>
                        <time datetime= {{ entry.entry_date }} >{{ long_date_str }}</time>
                        <div class="entry">
                            <h3>Time Spent: </h3>
                            <p>{{ entry.entry_time_spent }} Hours</p>
                        </div>
                        <div class="entry">
                            <h3>What I Learned:</h3>
                            <pre>{{ entry.entry_learned }}</pre>
                        </div>
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <pre>{{ entry.entry_references }}</pre>
                        </div>
                    </article>
                </div>
            </div>
            <div class="edit">
                <p><a href="/entries/{{entry.entry_id}}/edit">Edit Entry</a></p>
                <p></p>
                <p><a href="/entries/{{entry.entry_id}}/delete">Delete Entry</a></p>
            </div>
{% endblock %}